<% if resource.errors.any? %>
<div class="center_errors" style="display:flex; justify-content:center;">
    <div id="error_explanation" style="text-align:center;">

<p style="color:red; font-weight:bold; text-align:center;" >Un ou plusieurs champs sont incorrects.</p>
    </div>
</div>
<% end %>