// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container-about{
    width: 100%;
    height: 600px;
    text-align: justify;
}

.text-about{
    width: 100%;
}

.text-about p, h2{
    width: 80%;
    margin-left: 10%;
}
.text-about p {
   line-height: 25px; 
}

.image-about{
    width: 80%;
    background-color: #fba627;
    transform: rotate(-5deg);
    margin-top: 50px;
    margin-left: 10%;
}

.image-about img{
    width: 100%;
    transform: rotate(5deg);
}

.title-decoration{
    padding-bottom: 10px;
}

.title-deco {
    font-size: 50px;
    color: #F1F0F0;
    font-weight: bold;
    font-style: italic;
}

.stats{
    width: 100%;
    height: 200px;
    background-color: rgb(61, 61, 50);
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    color: white;
    
}

.stats-number {
    display: flex;
    width: 80%;
    text-align: center;
    margin-left: 25%;
}

.stats p {
    font-size: 30px;
   
  
}

.image-stats img{
    width: 100%;
    height: 100px;
}

.image-stats{
    height: 200px;
    padding-top: 100px;
}

.text-stats{
    color: #fff;
    height: 200px;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.text-stats {
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.text-stats p{
    font-size: 30px;

}

.association-title{
    text-align: center;
}

//members of happy nivelle


.title-members p{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

.pictures-members{
    width: 100%;
    display: flex;
    justify-content: center;
}

.pictures-members img{
    width: 20%;
    margin: 1%;
}

.font-legal {
font-family: 'Belleza', sans-serif !important;
}

.stats-number {
    display: flex;
    flex-direction: column;
 
    align-items: center;
    margin-left: 0;
    width: 100%;
}

.text-stats {
   
    height: auto;
width: 100%;
}



.stats {
    display: flex;
    flex-direction: column;
    height: auto;
}
.image-stats {
    padding-top: 10px;
    height: auto;
    display: flex;
    justify-content: flex-end;
}

.image-stats img {
    width: 40%;
}


@media screen and(min-width: 576px){

    .title-decoration{
        margin-top: 100px;
    }

    .stats-number {
        margin-top: 50px;
    }
}

@media screen and(min-width: 772px){
    .text-stats{
        padding-top: 0px;
    }

    .image-about{
        width: 65%;
        margin-left: 17.5%;
    }

    .title-decoration{
        margin-top: 100px;
    }
}

@media screen and(min-width: 992px){
    .title-decoration {
        margin-top: 200px;
    }
}

@media screen and(min-width: 1200px){
    .association-title{
        margin-left: 12%;
    }
    
    .title-deco{
        margin-top: 0px;
        font-size: 100px;
        margin-bottom: 50px;
    }

    .image-about{
        width: 40%;
    }
        
    .text-about{
        width: 40%;      
    }

    .text-about p{
        font-size: 20px;
    }

    .container-about{
        display: flex;
        padding: 100px;
    }

    .text-legal{
        margin-left: 20%;
        width: 60%;
    }

    .text-legal p{
        font-size: 15px;
     }

    .text-legal h2{
        text-align: center;
    }

    .image-stats{
        width: 20%;
        margin-left: 80%;
    }

    .stats-number {
        flex-direction: row;
    }

    .stats-number p{
        font-size: 40px;
    }

    .title-members {
        margin-top: 50px;}
}

@media screen and(min-width: 1900px){
    .association-title {
        margin-left: 10%;
    }

    .image-about {
        width: 30%;
    }

    .text-about {
        width: 40%;
        
    }

    .text-about p {
        font-size: 25px;
    }

    .title-decoration {
        margin-bottom: 50px;
    }

    .title-deco{
        font-size: 150px;
    }

    .container-about{
        display: flex;
        padding: 100px;
    }

    .text-legal p{
        font-size: 20px;
    }
}