/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

p{
  font-family: 'Boogaloo', sans-serif;
}
 .navbar{
  font-family: 'Belleza', sans-serif;
}

.item-contact-bar li, .item-contact-bar p{
  font-family: 'Belleza', sans-serif;

}


#notice {
  font-size: 29px;
  text-align: center;
  margin-top: 10px;
}

 .header-image-events-show img{
  width: 100%;
}

   .logo {
        display: none;
    }

    .contact-bar ul{
        padding-top: 5px;
        width: 100%;
    }

    .contact-bar p{
      color: #fff;
    }

    .item-contact-bar{
        width: 100%;
    }

    .item-contact-bar li{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .item-contact-bar li a{
        font-size: 10px;
    }

    .item_contact_bar p {
        display: none;
        
    }

    .connexion a{
      color: #fff !important;
      font-size: 13px !important;
    }

    .pc {
      display: none;
    }

    .ham {
        z-index: 1000;
        border: none;
        cursor: pointer;
        background-color: #494848;
        border-radius: 3px;
        background-size: 100%;
        visibility: visible;
      }

      .nav-ham {
        position: absolute;
        top: 0;
        left: 0;
        background: #494848;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        color: white;
        transform: translateY(-100%);
        transition: transform 0.2s ease;
        z-index: 1;
      }

      .showNav {
        transform: translateY(0);
      }

    .nav-ham ul {
        width: 100%;
        height: 100%;
        list-style: none;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 80px;
        padding-right: 1.5rem;
      }  

      .nav-ham ul li a {
        color: white;
        padding-bottom: 0px;
        margin-top: 70px;
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.2rem;
      }

      .header-image img{
        width: 100%;
    }

    .position-bar li {
      display: flex;
      justify-content: center;
    }

    .title{
        color: #fff;
        position: absolute;
        top: 90px;
        left: 30px;
        font-size: 15px;
        font-family: 'Boogaloo', cursive;
    }



    .subtitle{
        color: #fff;
        position: absolute;
        top: 110px;
        left: 30px;
        font-size: 15px;
        text-shadow:  1px 3px 0px #494848;
        font-weight: bold;
        font-family: 'Boogaloo', cursive;
    }

    .catch_phrase{
      color: #fff;
      position: absolute;
      top: 130px ;
      left: 30px;
      font-size: 10px;
    }

    .button-ux {
      position: absolute;
      top: 120px ;
      left: 30px;
      font-size: 7px !important;
    }

    footer{
      background-color: #494848;
      width: 100%;
    }

    .logo-footer, .facebook-footer{
      display: flex;
      justify-content: center;
      padding-bottom: 10px;
      color: #fff;
    }
    
    .copyright {
       padding-bottom: 10px; 
    }

    .contact-footer, .address-footer, .copyright{
      display: flex;
      justify-content: center;
      color: #fff !important;
      margin-bottom: 0;
    }


    @media screen and (min-width: 600px){
      .title, .subtitle {
        font-size: 30px;
      }
      .title {
        top: 120px;
      }
      .subtitle {
        top: 150px;
      }

      .catch_phrase{
        top: 180px;
        font-size: 15px;
      }
      .button-ux {
        top: 180px ;
        font-size: 10px !important;
      }
    }

    @media screen and (min-width: 772px){
      .logo {
        display: block;
        
    }
    .title, .subtitle {
      font-size: 40px;
    }
    .title {
      top: 130px;
    }
    .subtitle {
      top: 170px;
    }

    .catch_phrase{
      top: 210px;
      font-size: 20px;
    }
  
  .navbar li a {
    color: black;
  }

  .button-ux {
    top: 210px ;
    font-size: 12px !important;
  }
  
  }


    @media screen and (min-width: 992px){

      .container-footer{
        display: flex;
        margin-left: 30%;
        width: 50%;
        justify-content: space-around;
      }

      .contact-footer{
        margin-top: 0px;
      }


      .title, .subtitle {
        font-size: 40px;
      }
      .title {
        top: 180px;
      }
      .subtitle {
        top: 220px;
      }
  
      .catch_phrase{
        top: 280px;
        font-size: 20px;
      }

      .button-ux {
        top: 280px ;
      }

      .navbar {
    display: flex;
    justify-content: space-evenly !important;
  }

      .pc {
    display: block;
  }
  
  .li-ham {
    display: none !important;
  }

  .item_contact_bar p {
    display: block;
}

.image-center-contact-bar {
  display: flex;
  padding-top: 5px;
  
}

.image-center-contact-bar p {
  margin-bottom: 0 !important;
  padding-left: 5px;
}

    }

    @media screen and (min-width: 1200px){

      .covid_band p{
        font-size: 17px;
      }

      .title, .subtitle {
        font-size: 60px;
      }

      .title {
        top: 250px;
      }

      .subtitle {
        top: 300px;
      }

      .catch_phrase{
        top: 350px;
        font-size: 20px;
      }

      .button-ux {
        top: 350px ;
        font-size: 15px !important;
      }

      footer p{
        font-size: 17px;
      }

      .logo-facebook img,
      .facebook-footer img {
        width: 20px;
      }

      .container-footer p, 
      .copyright {
       font-size: 20px;
      }

    }

    @media screen and (min-width: 1900px){

      .logo-facebook img,
      .facebook-footer img {
        width: 27px;
      }

      .logo img{
        width: 160px;
      }

      .title, .subtitle {
        font-size: 80px;
      }

      .title {
        top: 300px;
      }

      .subtitle {
        top: 380px;
      }

      .catch_phrase{
        top: 450px;
        font-size: 20px;
      }

      .button-ux {
        top: 480px ;
        font-size: 20px !important;
      }

      .navbar li a {
        color: black;
        font-size: 20px;
        margin-top: 10px;
      }

      .connexion a{
        font-size: 20px !important;
      }

      .item-text{
        font-size: 20px;
      }

      .container-footer p, 
      .copyright {
       font-size: 25px;
      }

    }

 