// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.hidden { 
    display: none; 
}

/*flash*/

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
    }
    
    .alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
    }
    
    .alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
    }
    
    .alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
    }


@media screen and (min-width: 375px){

    .title-form{
        text-align: center;
        margin-top: 20px;
    }
    .form{
        width: 90%;
        margin-left: 5%;
    }
    .form input, textarea {
        margin: 15px 0;
    }
    .contact-name, .contact-message {
       background: linear-gradient(rgb(255, 255, 255) 70%, rgb(0, 0, 0));
       rotate: 1deg;
    }
    .contact-name input, .contact-message textarea{
        rotate: -1deg;
     }
     .contact-name label, .contact-message label{
        rotate: -2deg;
     }

     .contact-email {
        background: linear-gradient(rgb(255, 255, 255) 70%, rgb(0, 0, 0));
        rotate: -1deg;
     }
     .contact-email input{
       rotate: 1deg;
      }
      .contact-email label{
         
      }

    .button-submit{
        margin-bottom: 20px;
    }
}


@media screen and (min-width: 772px){
    .form{
        width: 60%;
        margin-left: 20%;
    }

    .button-submit{
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 50px;
        
        }
}

@media screen and (min-width: 1200px){
    .form{
        width: 50%;
        margin-left: 25%;
    }
}

@media screen and (min-width: 1900px){
.form{
    
    width: 30%;
    margin-left: 35%;
}

.title-form{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.button-submit{
display: flex;
flex-direction: row-reverse;
margin-bottom: 50px;

}

.rotate{
    width: 300;
    height: 40px;
    position: relative;
    top: 40px;
    z-index: 0;
}
}