// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.image-show {
    margin-left: 10px;
}

.event-title {
    text-align: center;
}

.card {
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    border-radius: 50px !important;
    box-shadow: -6px -6px 10px rgba(145, 145, 145, 0.8), 6px 6px 10px rgba(255, 255, 255, 0.4);
}

.card-header {
    width: 100%;
    border-radius: 50px !important;
}

.image-event img {
    width: 100%;
}

.btn {
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
}

.composant-event {
    margin-top: 10%;
    text-align: center;
}


.event-top-image img {
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;
}

.event-top-text {
    width: 80%;
    margin-top: 50px;
    margin-left: 10%;
    margin-bottom: 50px;
}

.event-top-text p {
    text-align: justify; 
}

.create-event {
    text-align: center;
    margin-bottom: 25px;
}

span{
    color: #fba627;
}


//show

.participate{
     color: green;
     font-weight: bold;
     
}

.maybe{
    color: rgb(212, 173, 42);
    font-weight: bold;
}

.notparticipate{
    color: rgb(238, 34, 34);
    font-weight: bold;
}


.image-show img{
    width: 100%;
  
}

.container-event-show{
    width: 80%;
    margin-left: 10%;
}

.create-event button{
    border: 3px solid #fba627;
    background-color: white;
    border-radius: 20px;
    margin: 10px 0;
    padding: 5px;
}

.create-event button a:hover{
    color: #fba627 !important;
}


.show-event a {
    color: white !important;
    font-weight: bold;
}

.event-describe{
    text-align: center;
}

.align-address-date{
    display: flex;
    width: 60%;
    margin-left: 20%;
}

.align-address-date p{
    display: flex;
    justify-content: space-around;
}

.vote {
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: space-around; 
    margin-bottom: 50px;
  }

  .border-vote {
      width: 60%;
      margin-left: 20%;
      height: 1px;
      margin-top: 10px;
      margin-bottom: 10px;
      background-color: black;
  }

.title-event-show{
    font-size: 20px !important;

}

.date-title-address-show{
    display: flex;
    flex-direction: column;
    text-align: center;
}


//new/events
.field{
    margin-left: 10%;
    width: 80%;
    flex-direction: column;
    margin-bottom: 10px;

    display: flex;
}

.event-field {
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    margin-bottom: 0;
}
//media querry
@media screen and (min-width: 576px){
    .btn {
        width: 40%;
        margin-left: 30%;
        margin-top: 10px;
    }

    .field{
        margin-left: 20%;
        width: 60%;
    }

    .title-new-event{
        text-align: center;
        margin-top: 50px;
    }
    
    .date-title-address-show{
        display: flex;
        justify-content: space-around;
    }
}

@media screen and (min-width: 772px){

    .event-top-image img {
        width: 60%;
        margin-left: 20%;
        margin-top: 50px;
    }

    .event-top-text {
        width: 60%;
        margin-top: 50px;
        margin-left: 20%;
        margin-bottom: 50px;
    }

    .button-voted{
        display: flex;
    }

    .btn {
        display: flex;
        width: 30%;
        margin-left: 2.33%;
    
    }

    .image-event img {
        width: 60%;
        margin-top: 50px;
    }

    .field{
        margin-left: 30%;
        width: 40%;
    }

}

@media screen and (min-width: 992px){
    .event-top-text p{
        font-size: 15px;
    }

    .image-show img{
        width: 100%;
      
    }
    
    .container-event-show{
        width: 60%;
        margin-left: 20%;
    }

    .date-title-address-show{
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
    }
}


@media screen and (min-width: 1200px){
    .button-event{
        display: flex;
        flex-direction: row-reverse;
    }

    .field{
        margin-left: 35%;
        width: 30%;
    }

    .title-event-show{
        font-size: 40px !important;
    
    }

    .vote {
        width: 60%;
        margin-left: 20%;

      }

      .back-event{
          width: 60%;
          margin-left: 20%;
      }

      .event-top-text p{
          font-size: 18px;
      }

}

@media screen and (min-width: 1900px){
    .container-event-show p{
        font-size: 15px;
        width: 80%;
        margin-left: 10%;
    }

    .container-top-event {
        display: flex;
        
    }

    .event-top-image{
        width: 60%;
    }

    .event-top-text{
        width: 40%;
        margin: 10%;
    }

    .event-top-text p{
        font-size: 22px;
    }

    .button-voted{
        display: flex;
        width: 60%;
        margin-left: 20%;
    }

    .image-event img{
        width: 60%;
    }

    .title-description-event {
        width: 60%;
        margin-left: 20%;
    }

    .image-show img{
        width: 80%;
        margin-left: 10%;
    }



}