// Place all the styles related to the legalnotice controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.text-legal {
    margin-top: 50px;
    margin-bottom: 50px;
}

#legalnotice {
    font-size: 45px;
}