// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


//sign-in 
.title-devise{
    margin-top: 50px;
}
.field_sign_in{
    width: 80%;
    margin-left: 10%;
}

.actions{
    padding-left: 50%;
}

.devise-shared-links-sign_in{
    margin-left: 20px;
    margin-bottom: 50px;
}

//registration new
.field-registration{
    width: 80%;
    margin-left: 10%;
}

.actions-registration{
    padding-left: 56%;
    margin-top: 10px;
}

.devise-shared-links-registration{
    margin-left: 20px;
    margin-bottom: 50px;
}

@media screen and (min-width: 480px){

}

@media screen and (min-width: 576px){

}

@media screen and (min-width: 772px){

}

@media screen and (min-width: 992px){

}

@media screen and (min-width: 1200px){
    
}

@media screen and (min-width: 1900px){
.actions{
    display: flex;
    padding-left: 40.5%;
    width: 80%;
    margin-left: 10%;
}

.devise-shared-links{

    width: 30%;
    margin-bottom: 50px;
    margin-left: 36.5%;

}

.title-devise{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

//devise confirmayion new

.input-button{
    display: flex;
    
    width: 30%;
    margin-left: 35%;
    justify-content: space-around;
}

//actions-password-new

.actions-password-new{
    padding-top: 10px;
}


.devise-shared-links-confirmation{
    width: 30%;
    margin-bottom: 50px;
    margin-left: 38%;
}

.field-registration{
   
    width: 30%;
    margin-left: 35%;
    padding-left: 8.5%;
    
}

.actions-registration{
    display: flex;
    padding-left: 40.5%;
    width: 80%;
    margin-left: 12.2%;
    margin-top: 10px;
}

.devise-shared-links-registration{
    width: 30%;
    margin-bottom: 50px;
    margin-left: 43%;
}

.field_sign_in{
    width: 30%;
    margin-left: 35%;
    padding-left: 8.5%;
}

.devise-shared-links-sign_in{
    width: 30%;
    margin-bottom: 50px;
    margin-left: 43%;
}
}