<p>Bonjour <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nous vous contactons pour vous notifier que votre email va être changé: <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nous vous contactons pour vous notifier que votre email à été changé: <%= @resource.email %>.</p>
<% end %>
