<h1 class="title-admin-event">Utilisateurs</h1>
<div class="treuc">
<% @users.each do |user| %>

<ul class="list-group">
    <li class="list-group-item active" aria-current="true">
        <% if user.admin === true %>
        <strong>Admin</strong>
        <% else %>
        <strong>Utilisateur classique</strong>
        <% end %>
    </li>
    <li class="list-group-item">
        <%= user.firstname %>
        <br>
        <%= user.lastname %>
        <br>
        <%= user.email %>
        <br>

        <%= link_to 'Changer rôle', role_admin_user_path(user), method: :put, data: { confirm: 'Êtes-vous sûr ? Un utilisateur classique ne pourra pas accèder au panneau d\'administration.' } %>

    </li>

</ul>
<br>
<% end %>
</div>